html
    head
        meta(charset='UTF-8')
        meta(name='referrer' content='no-referrer')
        title ToDo List RubyGarage
        link(
            rel='stylesheet'
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        )
        link(
            rel='stylesheet'
            href='/assets/style.css'
        )
        link(
            rel='stylesheet'
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        )
    body
    header
      .container
        .row.text-center.justify-content-md-center
          .col-sm-8
            h1 Simple TODO LIST
            h4 FROM RUBY GARAGE
    .container
      .row.justify-content-md-center
        .col-sm-8.content

    .container
      .row.text-center.justify-content-md-center
        .col-sm-8
          button#new_project.submit Add TODO List
    





    script(
        type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'
    )
    script(
        type='text/javascript'
        src='/assets/main.js'
    )
